/*Grid System: modeled after seattle-301d27 day 1 class demo code*/

.row{
  width: 100%;
}

.row,
.column {
  box-sizing: border-box;
}

.row::before,
.row::after {
  content:"";
  display: table;
}

.row::after {
  clear: both;
}

.column {
  position: relative;
  float: left;
  padding: 1%;
}

[class*="col-"]{
  width: 100%;
}

@media (min-width:960px) {
  .col-1 {
    width: 16.67%
  }

  .col-2 {
    width: 33.33%
  }

  .col-3 {
    width: 50%
  }

  .col-4 {
    width: 66%
  }

  .col-5 {
    width: 75%
  }

  .col-6 {
    width: 100%
  }
}