/*describes how modules or layouts looks*/

.nav-item {
  display: block;
}

.icon-item{
  display: inline;
}

#hamburger{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

#nav-list{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

/*reusable modular parts of the design*/
/*desktop*/

@media (min-width:960px) {
  .col-1 {
    width: 16.67%
  }

  .col-2 {
    width: 33.33%
  }

  .col-3 {
    width: 50%
  }

  .col-4 {
    width: 66%
  }

  .col-5 {
    width: 75%
  }

  .col-6 {
    width: 100%
  }

  #hamburger{
    display: none;
  }

  #nav-list{
    position: relative;
  }

  .icon-item, .nav-item{
    display: inline;
  }
}