/*describes how modules or layouts looks*/

body{
  width: 100%
  margin: auto;
}

h1{
  font-size: 4.5vw;
}

img {
  max-width: 100%;
}

.nav-item {
  display: block;
}

.icon-item{
  display: inline;
}

#hamburger{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

#nav-list{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

/*desktop*/
@media(min-width: 800px){
  #hamburger{
    display: none;
  }

  #nav-list{
  position: relative;
  }

  .icon-item, .nav-item{
    display: inline;
  }
}
