/*TODO: SMACSS me*/

img {
  max-width: 100%;
}

.icon-item, .nav-item {
  display: inline;
}

@media(min-width: 800px){
  #hamburger{
    /*display: none;*/
  }

  #nav-list{
    display: block;
  }

  #nav-item{
    display: inline-block;
  }
}
