/*TODO: figure out how to make fonts resizable*/

.nav-item {
  display: block;
}

.icon-item{
  display: inline;
}

#name {
  font-size: 48px;
  color: #80ffec;
}

#icon-nav{
  background-color: #8e4a49;
  margin: auto;
  position: relative;
  top: -20px;
  text-align: center;
  float: center;
}

#hamburger{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  color: #7daa92;
}

#nav-list{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: #7daa92;
}

.projects{
  float: left;
  width: 25%;

}

.project-body{
  margin: 5%;
  color: #7daa92;
}

.project-title{
  text-align: center;
  margin-top: 5%;
  color: #8e4a49;
  font-size: 30px;
}



@media(min-width: 800px){
  #hamburger{
    display: none;
  }

  #nav-list{
    position: relative;
    display: inline;
  }

  .icon-item, .nav-item{
    display: inline;
  }
}
