

.nav-item {
  display: block;
}

.icon-item{
  display: inline;
}

#name {
  font-size: large;
}

#icon-nav{
  background-color: #7daa92;
  margin: auto;
  position: relative;
  top: -20px;
  text-align: center;
  float: center;
}

#hamburger{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
}

#nav-list{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.projects{
  float: left;
  width: 25%;
}

.project-body{
  margin: 5%;
}

.project-title{
  text-align: center;
  margin-top: 5%;
}



@media(min-width: 800px){
  #hamburger{
    display: none;
  }

  #nav-list{
    position: relative;
    display: inline;
  }

  .icon-item, .nav-item{
    display: inline;
  }
}
