/*TODO: SMACSS me*/

/*overall*/
body{
  width: 100%;
  margin: auto;
}

img {
  max-width: 100%;
}

.nav-item {
  display: block;
}

.icon-item{
  display: inline;
}

.center{
  display: block;
  margin: 0px auto;
  padding-top: 0px;
}

.projects{
  float: left;
  width: 25%;
}

.project-name{
  text-align: center;
}

#hamburger{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
}

#nav-list{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

/*desktop*/
@media(min-width: 800px){
  #hamburger{
    display: none;
  }

  #nav-list{
    position: relative;
    display: inline;
  }

  .icon-item, .nav-item{
    display: inline;
  }
}
